* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

#header .menu {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .menu__menuT {
  width: 199px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .menu__menuT__menuC {
  width: 21px;
  height: 1px;
  background: black;
  transform: rotate(90deg);
}
#header .menu__menuT__menuS {
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
#header .menu__menuF {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header .menu__menuF__menuE {
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}
#header .menu__menuR {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .menu__menuR__menuM {
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

#section .cyber {
  margin: 30px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#section .cyber__cyberD {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#section .cyber__cyberD__cyberF {
  width: 500px;
  font-family: "Monument Extended", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 78px;
  color: #000000;
}
#section .cyber__cyberD__cyberQ {
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
#section .cyber__cyberD__cyberB {
  margin: 30px 0 0 0;
  width: 540px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#section .cyber__cyberD__cyberB__cyber1 {
  width: 200px;
  height: 50px;
  background: rgba(59, 62, 66, 0.85);
  border-radius: 40px;
  border: none;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #FFFFFF;
}
#section .cyber__cyberD__cyberB__cyber2 {
  width: 320px;
  height: 50px;
  background: #E9E9E9;
  border-radius: 40px;
  border: none;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #585B5E;
}
#section .cyber__cyberD__cyberJ {
  margin: 20px 0 0 30px;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
#section .cyber__cyberD__cyberG {
  margin: 20px 0 0 30px;
  width: 321px;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
#section .cyber__cyberD__cyberH {
  margin: 100px 0 0 0;
  width: 600px;
  height: 260px;
  background: #F8F8F8;
}
#section .cyber__cyberI {
  width: 643px;
  height: 650px;
}
#section .about {
  margin: 70px 0 0 0;
  display: flex;
  justify-content: space-between;
}
#section .about__aboutI {
  width: 643px;
  height: 650px;
}
#section .about__aboutM__about1__aboutT {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;
  font-family: "Monument Extended", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  color: #000000;
}
#section .about__aboutM__about1__aboutS {
  margin: 0 0 0 75px;
  width: 492px;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
#section .about__aboutM__aboutB {
  width: 600px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#section .about__aboutM__aboutB__aboutO {
  width: 190px;
  height: 50px;
  border-radius: 40px;
  border: none;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  background: rgba(59, 62, 66, 0.85);
  font-size: 25px;
  color: #FFFFFF;
}
#section .about__aboutM__aboutB__aboutF {
  width: 220px;
  height: 50px;
  background: #E9E9E9;
  border-radius: 40px;
  border: none;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #585B5E;
}
#section .bene__bene1__bene2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#section .bene__bene1__bene2__bene3 {
  margin: 0 0 120px 0;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
#section .bene__bene1__bene2__bene3__beneT {
  font-family: "Monument Extended", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  color: #000000;
}
#section .bene__bene1__bene2__bene3__beneC {
  width: 485px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#section .bene__bene1__bene2__bene3__beneC__beneG {
  width: 384px;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
#section .bene__bene1__bene2__bene3__beneB {
  width: 485px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#section .bene__bene1__bene2__bene3__beneB__beneV {
  width: 387px;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
#section .bene__bene1__bene2__bene3__beneL {
  width: 483px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#section .bene__bene1__bene2__bene3__beneL__beneA {
  width: 386px;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
#section .bene__bene1__bene2__bene3__beneL__beneU {
  width: 256px;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
#section .bene__bene1__bene2__bene3__beneX {
  width: 350px;
  height: 50px;
  border-radius: 40px;
  border: none;
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  background: rgba(59, 62, 66, 0.85);
  font-size: 25px;
  color: #FFFFFF;
}
#section .bene__bene1__bene2__beneP {
  width: 643px;
  height: 650px;
}

/*# sourceMappingURL=style.css.map */
