*{
  margin: 0;
  padding: 0;
}
$bg:blue;
.menu{
  background: $bg;
  &__menu1{
    background: $bg;
    &__menu2{
      width: 20px;
      height: 20px;
      background: $bg;
      &__menuT{
        color: $bg;
        font-size: 100px;
      }
    }
  }
}